In [1]:
import pandas as pd
df =pd.read_csv('https://gist.githubusercontent.com/FANJIYU0825/4c26927847a27be6d2555b4b7d080633/raw/a6268360eeb75abd44b223087df2bf52488bb4d8/googleplaystore.csv')

In [2]:
df['Last Updated'].sort_values()

10472               1.0.19
424          April 1, 2016
3304         April 1, 2016
8901         April 1, 2016
9116         April 1, 2016
               ...
4246     September 8, 2017
6983     September 9, 2015
10393    September 9, 2016
9437     September 9, 2016
6834     September 9, 2017
Name: Last Updated, Length: 10841, dtype: object

In [3]:
df.groupby("Category").size().to_json('count.json')

In [5]:
df[['Rating','Price']]

       Rating Price
0         4.1     0
1         3.9     0
2         4.7     0
3         4.5     0
4         4.3     0
...       ...   ...
10836     4.5     0
10837     5.0     0
10838     NaN     0
10839     4.5     0
10840     4.5     0

[10841 rows x 2 columns]

DataClean
- Convert all app sizes to MB
- Remove '+' from 'Number of Installs' to make it numeric
- Convert all review text to English language using Google Translator library

In [6]:
import numpy as np
df.drop_duplicates(subset='App', inplace=True)
df = df[df['Android Ver'] != np.nan]
df = df[df['Android Ver'] != 'NaN']
df = df[df['Installs'] != 'Free']
df = df[df['Installs'] != 'Paid']
df = df[df['Rating'] != np.nan]
df= df.dropna()

In [7]:
# - Installs : Remove + and ,

df['Installs'] = df['Installs'].apply(lambda x: x.replace('+', '') if '+' in str(x) else x)
df['Installs'] = df['Installs'].apply(lambda x: x.replace(',', '') if ',' in str(x) else x)
df['Installs'] = df['Installs'].apply(lambda x: int(x))

In [ ]:
df['Size'] = df['Size'].apply(lambda x: str(x).replace('Varies with device', 'NaN') if 'Varies with device' in str(x) else x)

df['Size'] = df['Size'].apply(lambda x: str(x).replace('M', '') if 'M' in str(x) else x)
df['Size'] = df['Size'].apply(lambda x: str(x).replace(',', '') if 'M' in str(x) else x)
df['Size'] = df['Size'].apply(lambda x: float(str(x).replace('k', '')) / 1000 if 'k' in str(x) else x)


df['Size'] = df['Size'].apply(lambda x: float(x))
df['Installs'] = df['Installs'].apply(lambda x: float(x))

df['Price'] = df['Price'].apply(lambda x: str(x).replace('$', '') if '$' in str(x) else str(x))
df['Price'] = df['Price'].apply(lambda x: float(x))

df['Reviews'] = df['Reviews'].apply(lambda x: int(x))
df['Rating'] = df['Rating'].apply(lambda x: float(x) if (x!=np.nan) else str(x))

In [ ]:
Rat = df['Rating']
[ i for i in Rat if type(i)==str]

[]

In [ ]:
# df.to_csv('data_clean.csv')

In [ ]:
df[(df['Type']!='Free')]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
234,TurboScan: scan documents and receipts in PDF,BUSINESS,4.7,11442,6.800,100000.0,Paid,4.99,Everyone,Business,"March 25, 2018",1.5.2,4.0 and up
235,Tiny Scanner Pro: PDF Doc Scan,BUSINESS,4.8,10295,39.000,100000.0,Paid,4.99,Everyone,Business,"April 11, 2017",3.4.6,3.0 and up
477,Calculator,DATING,2.6,57,6.200,1000.0,Paid,6.99,Everyone,Dating,"October 25, 2017",1.1.6,4.0 and up
481,AMBW Dating App: Asian Men Black Women Interra...,DATING,3.5,2,17.000,100.0,Paid,7.99,Mature 17+,Dating,"January 21, 2017",1.0.1,4.0 and up
851,Sago Mini Hat Maker,EDUCATION,4.9,11,63.000,1000.0,Paid,3.99,Everyone,Education;Pretend Play,"July 24, 2017",1.0,4.0.3 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10690,FO Bixby,PERSONALIZATION,5.0,5,0.861,100.0,Paid,0.99,Everyone,Personalization,"April 25, 2018",0.2,7.0 and up
10697,Mu.F.O.,GAME,5.0,2,16.000,1.0,Paid,0.99,Everyone,Arcade,"March 3, 2017",1.0,2.3 and up
10760,Fast Tract Diet,HEALTH_AND_FITNESS,4.4,35,2.400,1000.0,Paid,7.99,Everyone,Health & Fitness,"August 8, 2018",1.9.3,4.2 and up
10782,Trine 2: Complete Story,GAME,3.8,252,11.000,10000.0,Paid,16.99,Teen,Action,"February 27, 2015",2.22,5.0 and up
10785,"sugar, sugar",FAMILY,4.2,1405,9.500,10000.0,Paid,1.20,Everyone,Puzzle,"June 5, 2018",2.7,2.3 and up

In [ ]:
type(df[(df['Type']!='Free')]['Price'].to_list()[0])

float

In [ ]:
type(df[(df['Type']!='Free')]['Rating'].to_list()[0])

float

In [ ]:
groups_temp = df.groupby('Category')

NameError: name 'df' is not defined

In [ ]:
groups_temp.to_csv('data_clean.csv')

In [ ]:
tmp_cat=groups_temp.groupby("Category").size()

In [ ]:
cat_count_df = tmp_cat.to_frame()

In [ ]:
cat_count_df

             0
Category
BUSINESS   420
FAMILY    1832
GAME       959
MEDICAL    395
TOOLS      827